* {
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    border-radius: 20px;
    margin: 10px;
}

.logo {
    width: 20%;
    height: 100px;
    padding-left: 20px;
    display: flex;
    margin: 10px;
}

.latest {
    padding-left: 15px;
    font-size: 20px;

}

img {
    border-radius: 20px;
}

.col-lg-25{

}

.col-md-50 {

} 

.p-5 {
    padding: 10px;
    padding-top: 0px;
}



@media screen and (max-width : 600px) {
    body {
        
    }
}


@media screen and (min-width : 601px) {
    body {
        
    }
    .col-md-50 {
        width:50%;
        float: left;
    }
    .col-kg-100 {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width : 993px) {
    body {
     
    }
    .col-lg-25 {
        width: 25%;
        float: left;
    }

    .col-lg-50 {
        width: 50%;
        float: left;
    }

    .col-lg-75 {
        width: 75%;
        float: left;
    }
}
